body {
  background-color: #fff7ed;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.2s ease;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 35px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 13px;
  color: rgba(46, 42, 38, 0.55);
  line-height: 20px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #f19c2c;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-temperature {
  font-size: 80px;
  font-weight: lighter;
}
.weather-app-icon {
  font-size: 40px;
  margin-top: 25px;
  margin-right: 2px;
}
.weather-app-unit {
  margin-top: 15px;
  font-size: 23px;
}

header {
  border-bottom: 1px solid #fff7ed;
  padding: 0 0 25px 0;
}
footer {
  border-top: 1px solid #fff7ed;
  padding: 25px 0 0 0;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
a {
  color: #ea580c;
}
.a:hover {
  text-decoration: underline;
}

.search-form-input {
  background-color: #fff7ed;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
}
.search-form-button {
  background: #f19c2c;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  color: black;
  cursor: pointer;
  transition: background 0.2s ease;
}
.search-form-button:hover {
  background: #ea580c;
  opacity: 0.9;
}
main {
  padding: 30px 0;
}
